$primary: #1b6ecf;
$primary-dark: #114786;
$secondary: #dfe3eb;
$secondary-dark: #c3c7ce;

$brand-blue: #4d6aed;
$brand-red: #ff0000;
$brand-brown: #7f4f21;
$brand-gray-dark: #bcbcbc;
$brand-green: #799900;

$GNB-height: 64px;
$content-width: 1920px;

$main-bg: #f0f1f5;

// border
$secondary-border: 1px solid $brand-gray-dark;
$table-border: 1px solid #d1d6e1;
